# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# Built binary
/container-source-policy

# GoReleaser
dist/

# Local binaries (golangci-lint, etc.)
bin/

# Build artifacts
*.tar

# NPM
node_modules/
package-lock.json
packaging/npm/**/bin/container-source-policy*
packaging/npm/**/README.md

# PyPI
packaging/pypi/container_source_policy/bin/container-source-policy-*
packaging/pypi/dist/
*.egg-info/
__pycache__/
*.pyc

# Rubygems
packaging/rubygems/libexec/
packaging/rubygems/pkg/
*.gem
